#breadcrumb {
  margin-top: 150px;
  padding: 15px 16px;
 .breadcrumb {
   display: flex;
   align-items: center;
   grid-gap: 10px;
   li {
     position: relative;
     color: #757575;
     line-height: 20px;
     &:after {
       content: '/';
       margin-left: 10px;
       color: #757575;
     }
     &:last-child {
       &:after {
         content: '';
       }
     }
     a {
       font-size: 14px;
       color: #757575;
       &:hover {
         text-decoration: underline;
       }
     }
   }
 }
}